<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/main.css">
    <title>Book Search</title>
  </head>
  <body>

    <div class="container">
      <div class="child">
          <h4><%= results[0].volumeInfo.title %></h4>
          <img src=<%= results[0].volumeInfo.imageLinks.smallThumbnail %> />
      </div>
    </div>




  </body>
</html>
